eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    instance-id: ${spring.application.name}:${random.value}
    prefer-ip-address: true
logging:
  level:
    org:
      hibernate:
        SQL: debug
server:
  port: ${PORT:0}
spring:
  application:
    name: ms-canciones
  cloud:
    loadbalancer:
      ribbon:
        enable: false
  datasource:
    driver-class-name: org.postgresql.Driver
    password: admin
    url: jdbc:postgresql://localhost/bd-mysoundtracks?useSSL=false
    username: postgres
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect